body{
    background-color:black;
    color:white;
}
header{
    text-align: center;
    color:white;
    font-size: 3em;
}
main{
    text-align: center;
    color:white;
    font-size: 2em;
}
nav{
    text-align: center;
    color:white;
    font-size: 2em;
}
footer{
    text-align: center;
}
nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline*/
    color: white;    /*by default, links are blue */
}
nav a:hover {
    border-bottom:2px gold solid;
    font-size: 2em;
    transition: .9s;
}
strong{
    color:yellow;
}
